**/.husky
**/.git
**/node_modules
**/dist
**/.env*
!**/.env.production
**/.gitignore
**/.prettierignore
**/.prettierrc.json
**/commitlint.config.js
**/docker-compose*
**/Dockerfile*
**/eslint.config.js
**/lint-staged.config.js
**/.tanstack
**/.vscode
**/.zed
**/.nx
**/*.md
**/.github
**/deployment.yaml
**/docker-stack.yml